.meta {
    margin-bottom: 10px;
}
.content {
    margin-bottom: 15px;
}
.count {
    float: right;
    margin-bottom: 15px;
}
.thread {
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
}

.action {
    float: left;
}

.edit   {
    float: none;
}